<ul class="navbar-nav">
    <li class="nav-item">
        <form id="testForm" class="form-inline">
            <button id="test" type="submit" class="nav-link btn btn-link text-dark">Filters</button>
        </form>
    </li>
    <li class="nav-item">
        <form id="testForm" class="form-inline">
            <button id="test" type="submit" class="nav-link btn btn-link text-dark">Map</button>
        </form>
    </li>
    @if (ViewContext.RouteData.Values["Filters"] != null && ViewContext.RouteData.Values["Filters"].ToString() == "FiltersController")
    {
        @await Html.PartialAsync("_FiltersPartial")
    }
</ul>
