@{
    ViewData["Title"] = "Admin View";
}

<link rel="stylesheet" type="text/css" href="~/css/en-index.css" />

<div class="logo1">
    <svg xmlns="http://www.w3.org/2000/svg" width="147" height="216" viewBox="0 0 147 216" fill="none">
        <use href="logo.svg#logo"></use>
    </svg>
</div>
<div class="container">
    <h1> Coming soon...</h1>
</div>