@{
    ViewData["Title"] = "Welcome!";
    Layout = "_LayoutNoFilter";
}

<link rel="stylesheet" type="text/css" href="~/css/homePageBg.css" />
<div class="logo1">
    <svg xmlns="http://www.w3.org/2000/svg" width="147" height="216" viewBox="0 0 147 216" fill="none">
        <use href="logo.svg#logo"></use>
    </svg>
</div>
<div class="container3">
    <div class="welcome">Добре дошли в</div>
    <div class="yourplace">YourPlace</div>
    <p class="info-container">
        <div class="info">
            Представяме ви нашето ново приложение, което има за цел да улесни вашите ваканционни решения.
        </div>
        <div class="info1">
            Уморихте ли се да търсите най-доброто място с часове?
        </div>
        <span class="info2">
            Опитайте нашето ново приложение!
        </span>
    </div>
    <form>
    <button id="startButton" class="start" asp-action="ToMainBg" asp-controller="Home"> Да започваме!</button>
    </form>
</div>