@{

    ViewData["Title"] = "Welcome!";
}

<link rel="stylesheet" type="text/css" href="~/css/mainPage.css" />

<div class="logo">
    <svg class="logo-svg">
        <use xlink:href="logo.svg#logo"></use>
    </svg>
</div>

@* @section navbar {
    <!-- Custom navigation bar content for this page -->
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Custom", "CustomAction", "Home")</li>
    </ul>
} *@

<!--To Do: add the info from database-->
<div class="row">
    <div class="container2">
        <img src="Images/image.jpg" alt="image" style="width:50%">
        <div class="container-text">
            <h2>Rose Apartments</h2>
            <p>Рим, Италия</p>
            <p>9.6/10</p><br>
            <p><button id="openOffers" class="button">Оферти</button></p>
        </div>
    </div>
</div>