@model AllHotelsModel
@{

    ViewData["Title"] = "Welcome!";
}

<link rel="stylesheet" type="text/css" href="~/css/mainPage.css" />

<div class="logo">
    <svg class="logo-svg">
        <use xlink:href="logo.svg#logo"></use>
    </svg>
</div>
<p>

</p>
<!--To Do: add the info from database-->
<div class="row">
    @if (Model != null)
    {
        @foreach (var item in Model.Hotels)
        {
            <div class="container3">
                <!-- <a asp-controller="Hotels" asp-action="ViewAll">All Hotels:</a>-->

                <img src="~/Images/image.jpg" alt="image" style="width:50%">
                <div class="container-text">
                    <h2>@item.HotelName</h2>
                    <p>@item.Town, @item.Country</p>
                    <p>@item.Rating/10</p><br>
                    <p><button id="openOffers" class="button">Оферти</button></p>
                </div>
            </div>
        }
    }
    else
    {
        <p>No hotels found.</p>
    }
</div>
