@{

    ViewData["Title"] = "Welcome!";
}

<div class="logo">
    <svg class="logo-svg">
        <use xlink:href="logo.svg#logo"></use>
    </svg>
    <a href="index.html" class="logo-text">YourPlace</a>
</div>

<div class="container">
    <h1>Ето вашите резултати!</h1>
    <div class="text">
        Най-добрите оферти за ВАС!
    </div>

    <div class="text1">
        Можете да ги разгледате тук:
    </div>
    <form>
        <button id="offers" class="offers" asp-action="toMainBg" asp-controller="Home">Оферти</button>
    </form>
</div>