@{

    ViewData["Title"] = "Welcome!";
}

<div class="logo">
    <svg class="logo-svg">
        <use xlink:href="logo.svg#logo"></use>
    </svg>
    <a href="index.html" class="logo-text">YourPlace</a>
</div>

<div class="container">
    
</div>