@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.logo1 {
    position: absolute;
    left: 92px;
    top: 211px;
}

.welcome {
    color: #222;
    font-size: 48px;
    font-family: Cabin, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    position: absolute;
    left: calc(50%);
    top: 80px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    transform: translateX(-50%);
}

.yourplace {
    color: #222;
    font-size: 96px;
    font-weight: bold;
    font-family: Cabin, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    position: absolute;
    left: calc(50%);
    top: 186px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    transform: translateX(-50%);
}

.info {
    color: #222;
    font-size: 20px;
    line-height: 150%;
    font-style: italic;
    font-family: Cabin, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    position: absolute;
    left: calc(50%);
    top: 342px;
    width: 309px;
    height: 91px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-50%);
}
.info1 {
    color: #222;
    font-size: 20px;
    line-height: 150%;
    font-style: italic;
    font-family: Cabin, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    position: absolute;
    left: calc(50%);
    top: 460px;
    width: 309px;
    height: 91px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-50%);
}
.info2 {
    color: #222;
    font-size: 20px;
    line-height: 150%;
    font-style: italic;
    font-family: Cabin, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    font-weight: bold;
    position: absolute;
    left: calc(50%);
    top: 520px;
    width: 309px;
    height: 91px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-50%);
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.start {
    position: absolute;
    left: calc(50%);
    top: 600px;
    width: 345px;
    height: 75px;
    border-radius: 20px;
    transform: translateX(-50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    letter-spacing: 0.025em;
    cursor: pointer;
    font-weight: 800;
    background: #6b43ff;
    color: #fff;
    border: none;
    line-height: 50px;
}


/*.start {
    width: 100%;
    margin-top: 90px;
    background: #6b43ff;
    color: #fff;
    border: none;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 0.025em;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}*/


@media (max-width: 768px) {
    header {
        padding: 8vw;
    }

    .info-container {
        flex-direction: column;
    }
}

container2 {
    width: 440px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}